<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
        Verbose PubMed response logging is OFF by default.
        Full XML/JSON responses are logged at DEBUG level in the controller.
        To enable, set the environment variable:
            LOGGING_LEVEL_RECITER_CONTROLLER=DEBUG
        or JVM property:
            -Dlogging.level.reciter.controller=DEBUG
    -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="reciter" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
